@import './helpers/colors';
.lib-wrapper {
    display: flex;
    border-radius: 50px;
    height: 50px;
    box-shadow: $box-shadow;
    padding: 1em;
    background-color: $background;
    margin: 2em;
    *{
        transition: .2s;
        color: $white;
    }
    a{
        text-decoration: none;
    }
    .block{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
        color: $text-dark;
        padding: 0 .3em;
        font-size: 18px;
        font-weight: 500;
        * {
            color: $text-dark;
        }
        &:hover{
            *{
                color: $text-color;
            }
        }
        &:not(:last-child){
            border-right: 1px solid $border-color;
            padding-right: .5em;
        }
    }
}
@media (max-width: 991px) {
    .lib-wrapper {
        min-height: max-content;
        height: unset;
        align-items: center;
        .block{

        }
    }
}