$primary: #5d5f98;
$primary-hover: #393a63;
$primary-active: #5d5f98;

$text-color: #333461;
$text-light:  #ededfb ;
$text-dark: rgb(62, 62, 66);

$white: #ffffff;
$black: #000000;

$light-background: #f7fdff;

$background: #d2dff0;
$hover: #6d84a593;

$border-color: #cccccc;
$danger: rgb(192, 101, 101);
$box-shadow: 2px 4px 6px 0px #d3d2dc85;